* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    outline-width: 0px;
    font-family:Arial, Helvetica, sans-serif
}

.card-title{
    text-align: center;
    
}
 
#img_waze{
    height: 600px;
    
}

footer{
    max-width: 100;
}

#card-text{
    text-align: justify;
}